
<div class="main">

    <div class="right"> 
<br>
          <h2 class="h1"> 《通信软件开发与应用》课程结业报告</h2>
      
         <br>
        <h2 class="h2">
            设计主题
        </h2>
        <div  class="text">
           本次个人网站开发采用的是目前三大主流框架中的angular框架，采用基础的HTML5+CSS3+Javascript设计该个人网站的主题是“天气记录簿”。当时的想法构思主要是想记录下每天的天气变化，可以当做一个具有天气功能的便签。
           首先是需要实现的功能：简单来说就是四个功能：增删查改。
       </div>   
       <h2 class="h2">
            开发流程
       </h2>
       <div  class="text">

其次在设计实现中，总体设计思路是先构思出总体所需要的页面，主要有6个页面，
主页面负责导航到各个具体功能页面；
具体页面实现：增加每日天气情况、删除过往天气记录、查询符合条件的天气状况、修改已记录的天气状况，以及最后的个人网站开发记录。
    </div>  

       <h3>&nbsp;  &nbsp; &nbsp; ✈内容方面</h3>
       <div  class="text">在思考该个人网站主要来做什么的时候还是想了好久，最后还是决定做一个天气记录簿。
       相对于网上各种各样的公司首页模板或者学校官网模板而言，还是决定从头开始从设计思路出发做一个不一样的个人网站。
       初衷就是发现基本上移动端手机自带的天气预测软件只能有半个月，也就是15天的天气记录。所以有的时候想查看某天具体的天气状况，或者查询当前月份的天气晴朗状况是十分不方便的，因此为了解决这一问题，方便及时查看，获取过往信息，决定设计一个随时可以查看，修改更正天气状况的个人网站。
       </div>
       <h3>&nbsp;  &nbsp; &nbsp;✈ 框架方面</h3>
       <div  class="text">由于用的是angular框架，因此在实现功能时，都是在参考angular官网的官方例程，然后进行拓展修改。angular模块化的设计上手快，但是在具体实现的时候，由于模块太多，有时候往往有些反应太慢，在想要修改路由关系或者页面布局的时候会找错地方，需要仔细查看。
       </div>
       <h3>&nbsp;  &nbsp; &nbsp;✈ 页面布局</h3>
       <div  class="text">在这一部分上，当时遇到的一个比较印象深刻的问题就是，图片的居中，由于只设置了:
          text-align:center
           所以在页面上显示是错误的布局，没有达到预期效果。最后发现，在对于图片居中设置时，除了text-align为center还需要以下语句：</div><br>
           <h3 style="color: #6864A2;text-align: center;">display：table-cell<br>  vertical-align：middle<br></h3>
       
           <div  class="text">其次就是对于区块div的设置，同样是居中的问题，当时同样是只设置了text-align为center，这里实际上只设置了文本居中，因此还需要设置区块的居中，使用display: flex弹性布局即可。
           </div>
       <h3>&nbsp;  &nbsp; &nbsp; ✈模块关联</h3>
       <div  class="text">这里设计有除了在页面上显示出来的五个子模块，实际上还有一个路由模块和模块提供的服务子模块，都是通过路由到具体模块上。
       </div>
       <h3>&nbsp;  &nbsp; &nbsp; ✈功能实现</h3>
       <div  class="text">在具体功能实现的时候，采用的是angular提供的虚拟后台数据库连接，并没有实际在后台搭建数据库，这也是个人之后需要改进的问题。目前是完成了当时设计之初所要实现的功能。
       </div>
       <h3>&nbsp;  &nbsp; &nbsp; ✈托管github</h3>
       <div  class="text">本次个人网站开发的主要问题就出现在这里，托管的时候，我最开始是在git命令里输入托管命令，但是总是提示连接错误，无法托管，显示1503错误码。
        之后又通过githubpage桌面版去进行托管，这次是托管到了github上，但是打开页面显示空白，查阅相关资料是生成的文件里，源文件路径不对，之后按照网上相关教程里的方法修改，但是还是出现错误，页面同样还是空白。
       </div>
       <div  class="text">最后通过询问老师，在visual studio里进行同步，首先在github里建立一个仓库，然后远程连接我的工程文件进行绑定。
        这里，由于我之前的错误操作是绑定过我的工程文件，因此需要先按照官网提供的方法解除工程文件与远处仓库的连接，再进行连接。
        连接成功后生成dist输出文件夹，这就是具体需要托管到github上的文件，而不是原本的工程文件，这主要是因为原本的文件夹内容太多。
        输出后，再复制一个index.html文件作为404.html文件，作为重定向。
        以上完成后git push，将工程文件推送到github的仓库里，等待推送成功。
        之后由于系统延时实在是时间太长。大概等了30多分钟，在浏览器输入githubpage的分配给我个人网站的地址后，页面才正确显示出来。
    </div>
        
  
     
       <h2 class="h2">
           后期改进
       </h2> 
       <div  class="text">对于之后的网站开发还需要改进的地方主要有以下几部分：<br> </div> 
       <div  class="text">✈首先是页面排版，CSS美化方面还要加强，页面布局需要再多学习，在之后的改进过程中设计出更清爽简洁大方的页面。 </div> 
       <div  class="text">✈其次是功能实现方面，之后考虑将天气预报的功能添加进去，同时添加个人日记随笔的记录板块。之后再进行功能业务的具体拓展。<br> </div> 
       <div  class="text">✈最后在后台数据库方面，由于现在是虚拟的API，所以之后的改进方面就在于建立后台真正的数据库服务器，连接前端页面，实现一个真正意义上的网站，前后端结合。让个人网站变得更正式一点。</div>
       <h2 class="h2">
        课程总结
    </h2> 
    <div  class="text">在本次课程中我主要对于web前端开发做了一定的学习，其主要进行了基础的HTML5+CSS3+Javascript以及angular框架的学习。在这学期里，课程主要收获是，完成了两个个人网站的搭建，一个就是通过HTML5+CSS3+Javascript编写的纯静态网站，还有一个就是利用angular框架编写的虚拟API接口的个人网站。
        </div>
<div class="text">
    在本次课程设计里，通过综合HTML5+CSS3+Javascript以及angular，在网上进行学习相关的课程资料后,对于基础的前端开发有了一定意义上的了解。在未来的学习过程中还需要继续深入学习，按照前文所写的后期改进一步步地实现个人网站开发，争取做到让这个个人网站更加完整，功能更完善，页面更优美。<br></div>
    <div class="text"> 以上就是本次的课程总结。</div>
</div>
    </div>
    

 