<div class="main">
 
       <div class="nav">
               <div class="logo"> 
                   <div class="right">

                   </div>
                   
               </div>

             <div class="navlist">
                 <div class="navItem" [routerLink]="['/Walles']" routerLinkActive="router-link-activite" >首页</div>
                 <div class="navItem" [routerLink]="['/View']" routerLinkActive="router-link-activite" >搜索</div>
                 <div class="navItem" [routerLink]="['/Movie']" routerLinkActive="router-link-activite" >新增/删除</div>
                 <div class="navItem" [routerLink]="['/detail/:id']" routerLinkActive="router-link-activite" >修改</div>
                 <div class="navItem" [routerLink]="['/Pet']" routerLinkActive="router-link-activite" >访问记录</div>
                 
             </div>

             
        
        </div>

</div>    
    <router-outlet></router-outlet>

   
   
    
  

